// Base Colours
$black: #000;
$white: #fff;
$dark-grey: #333;
$mid-grey: #777;
$grey-medium-grey: #bdbdbd; 
$grey-medium-grey-lighter: #919191; 
$light-grey: #ddd;
$lighter-grey: #eee; // very light grey
$lightest-grey: #f5f5f5; //off-white-grey
$blue: #0073e5;
$blue-light-cyan-blue: #afcde3;
$blue-cyan-blue: #83a2be;
$green: #86a36e;
$green-light: #b2ce96;
$purple: #9291c7;
$purple-light: #bebde9;
$red: #ff0000;
$red-lighter: #e9b3b3;
$red-light: #c78787;
$yellow: #ffff00;
$yellow-light: #fadf98;
$oranage-light: #ecb870;
$gold: #ffd700;

$star-rating--color: $gold;

// Theme Colours
$primary-theme-color: #66999a; // #006ebb;

// Base Fonts
$base-font: "Source Sans Pro", sans-serif;
$body-font: "Montserrat", sans-serif;
$headings-font: "Lato", sans-serif;

// max-widths
$desktop-max-width: 1140px;

// Screen widths, Media queries - WC widths in WC variables

$large-screen-width: 1140px;
$standard-screen-width: 960px;
$small-screen-width: 600px;
$tablet-screen-width: 768px;
$mobile-screen-width: 320px;

// Border styles
$border-width: 1px;
$border-style: solid;
$border-color: $lighter-grey;

// Box Shadow
$box-shadow-blur-radius: 20px;
$box-shadow-opacity: 0.05;

// Font sizes

$rem-fallback: true;
$rem-baseline: 10px;

$html--font-size: 62.5%; // 10px browser default test
$body--font-size: 1.8rem;
$h1--font-size: 30px;//3rem;
$h2--font-size: 27px; //2.7rem;
$h3--font-size: 24px; //2.4rem;
$h4--font-size: 20px; //2rem;
$h5--font-size: 18px; //1.8rem;
$h6--font-size: 16px; //1.6rem;
$button--font-size: 1.6rem;
$archive-author-box__entry-title--font-size: 2rem;
$breadcrumb--font-size: 1.6rem;
$entry-title--font-size: 3rem;
$featured-content__entry-title--font-size: 26px; //2.6rem;
$enews-widget__input--font-size: 1.6rem;
$site-title--font-size: 20px; //2rem;
$genesis-nav-menu--font-size: 1.5rem;
$genesis-nav-menu__sub-menu__link--font-size: 1.4rem;
$sidebar--font-size: 1.6rem;
$entry-content__caption--font-size: 1.4rem;
$entry-meta--font-size: 1.6rem;
$comments--font-size: 1.8rem;
$footer-widgets--font-size: 1.8rem;
$site-footer--font-size: 1.5rem;
$forms--font-size: 1.8rem;
$widget-title--font-size: 18px; //1.8rem;
$archive-pagination--font-size: 1.6rem;
$blockquote__before--font-size: 3rem;
$after-entry__breadcrumb--font-size: 1.6rem;

// Font families
$body--font-family: $body-font;
$headings--font-family: $headings-font;

// Font weights
$font-weight--light: 300;
$font-weight--regular: 400;
$font-weight--semibold: 600;
$font-weight--bold: 700;

// Line heights
$line-height--big: 20px;
$line-height--large: 1.75;
$line-height--normal: 1.625;
$line-height--medium: 1.5;
$line-height--medium-small: 1.4;
$line-height--small: 1.2;
$line-height--smaller: 1;

// Font colors
$body--font-color: $dark-grey;
$link--font-color: $primary-theme-color;
$link--font-color-hover: $dark-grey;
$button--font-color: $white;
$button--font-color-hover: $white;
$entry-title__link--font-color: $primary-theme-color;
$entry-title__link--font-color-hover: $dark-grey;
$site-title__link--font-color: $dark-grey;
$genesis-nav-menu--font-color: $dark-grey;
$genesis-nav-menu--font-color-hover: $primary-theme-color;
$menu-toggle--font-color: $dark-grey;
$menu-toggle--font-color-hover: $blue;
$sub-menu-toggle--font-color: $dark-grey;
$sub-menu-toggle--font-color-hover: $blue;
$menu-highlight__link--font-color: $white;
$sidebar__widget-title--font-color: $dark-grey;
$forms--font-color: $dark-grey;
$archive-pagination--font-color: $dark-grey;
$archive-pagination--font-color-hover: $white;
$gs-faq__question--font-color: $dark-grey;
$gs-faq__question--font-color-hover: $blue;
$disabled--font-color: $mid-grey;
$widget-title--font-color: $dark-grey;


// Background colors
$body--background-color: $white;
$site-header--background-color: $white;
$mark--background-color: $light-grey;
$button--background-color: $dark-grey;
$button--background-color-hover: $blue;
$genesis-nav-menu__sub-menu__link--background-color: $white;
$nav-primary--background-color: $lighter-grey;
$nav-secondary--background-color: $light-grey;
$footer-widgets--background-color: $white;
$menu-highlight__link--background-color: $dark-grey;
$menu-highlight__link--background-color-hover: $blue;
$forms__background-color: $white;
$sticky--background-color: $lightest-grey;
$author-box--background-color: $lightest-grey;
$code--background-color: $lightest-grey;
$archive-pagination--background-color: $lightest-grey;
$archive-pagination--background-color-hover: $dark-grey;
$enews__sidebar--background-color: $lightest-grey;
$disabled--background-color: $lighter-grey;

// Button Background colors
$button--background-blue: $blue-light-cyan-blue;
$button--background-blue-hover: $blue-cyan-blue;
$button--background-grey:$grey-medium-grey; 
$button--background-grey-hover: $grey-medium-grey-lighter;
$button--background-green: $green-light;
$button--background-green-hover: $green;
$button--background-purple: $purple-light;
$button--background-purple-hover: $purple;
$button--background-red: $red-lighter;
$button--background-red-hover: $red-light;
$button--background-yellow: $yellow-light;
$button--background-yellow-hover: $oranage-light;

// Content Boxes Background colors
$content-box--background-blue:#d8ecf7; //greyish-blue
$content-box--background-grey:#e2e2e2; // very light grey
$content-box--background-green:#d9edc2; // light greyish green
$content-box--background-purple:#e2e2f9; // light greyish blue
$content-box--background-red:#f9dbdb; // light greyish red
$content-box--background-yellow:#fef5c4; // very soft yellow
//$content-box--background-theme-colour:#3acec2; //moderate cyan
	
// Content Boxes Border colors
$content-box--border-blue: $blue-light-cyan-blue;
$content-box--border-grey: $grey-medium-grey;
$content-box--border-green: $green-light;
$content-box--border-purple: $purple-light;
$content-box--border-red: $red-lighter;
$content-box--border-yellow: $yellow-light;
//$content-box--border-theme-colour: #3acec2;	

	
	
