.full-width-featured-image img {
	display: block;
	width: 100%;
	margin-left: auto;
	margin: auto;
}



.full-width-background-featured-image {
background-position: center;
background-repeat: no-repeat;
}
